body,
html {
	position: relative;
	overflow-x: hidden;
}
body {
	text-align: center;
	color: #0078b8;
	background-image: url("../Images/favicon-128x128.png");
	background-repeat: no-repeat;
	background-position: 5% 2%;
}
main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 80px;
}
article {
	display: flex;
	justify-content: center;
	align-items: center;
}
section {
	width: auto;
	font-size: 1.2em;
}
aside {
	position: absolute;
	right: -10px;
	top: 200px;
}
nav {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}
nav button {
	max-width: 150px;
	width: 23vw;
	padding: 20px;
	margin-bottom: 20px;
	color: white;
	background: #1aaaef;
	border-radius: 5px;
	border: none;
	font-size: 18px;
	cursor: pointer;
}
.table {
	width: 363px;
	border-style: none;
}
.short {
	height: 160px;
}
.tall {
	height: 240px;
}
.x-tall {
	height: 320px;
}
#transaktions {
	width: 320px;
}
input,
optgroup option,
select,
textarea {
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom: 1px solid silver;
	line-height: 2;
	padding: 5px;
	margin-bottom: 20px;
	width: 90%;
	font-family: Georgia, serif;
	font-size: 16px;
	color: gray;
}
optgroup {
	color: black;
}
h1 {
	font-size: 3em;
}
h3 {
	text-align: left;
	margin-bottom: 0;
}
.center {
	text-align: center;
}
#tips,
#tips li {
	margin: 0;
	padding: 0;
	list-style: none;
}
#tips {
	max-width: 80%;
	margin-block-start: 1em;
	margin-block-end: 1em;
	font-weight: bold;
	letter-spacing: 0.3rem;
	opacity: 0.6;
}
#tips li {
	padding: 0.2em;
	display: none;
	font-size: 1.3em;
}
@media only screen and (max-device-width: 767px) {
	main {
		flex-direction: column;
		margin-bottom: 150px;
	}
	article {
		flex-direction: column;
	}
	nav button {
	padding: 20px 0.8em;
	font-size: 0.8em;
	}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
	main {
		flex-direction: column;
	}
	article {
		flex-direction: row;
	}
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1599px) {
	main {
		flex-direction: row;
	}
	article {
		flex-direction: column;
	}
	article:first-of-type {
		margin: 0 calc(50% - 100px);
	}
}
@media only screen and (min-device-width: 1600px) {
	main {
		flex-direction: row;
	}
	article {
		flex-direction: row;
	}
}
